@import "../../index.scss";

.tour {
  background: $mainWhite;
  border-radius: 0.8rem;
  margin: 1rem 0;
  img {
    width: 100%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    display: block;
  }
}
